body {
  all: initial;
  background-color: #EFE6E0;
  font-family: 'Zen Maru Gothic', sans-serif;
  color: #F70B48;
}

.Container {
    display: grid;
    grid-template-columns: minmax(160px, 0.35fr) 2fr;
    align-items: start;
}

.aside{
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #fefefe;
  font-weight: 500;
}

img#logo{
  padding-top:52px;
  padding-bottom:22px;
}


ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
  padding-top:10px;
  padding-bottom:10px;
}


.Main{
  display: flex;
  flex-direction: column;
  justify-self: center;
  background-color: #EFE6E0;
}

video {
  border-radius: 50px;
  width: 1000px;
  margin-top: 50px;
  margin-bottom: 50px;
}

p {
  color: black;
}